<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<main>
    <div class="container">
        <h1>Cartes</h1>
        <table class="table">
            <thead>
                <tr>
                    <td>Nom de la carte</td>
                    <td>Pseudo</td>
                    <td>Date</td>
                </tr>
            </thead>
            <tbody>
                <% cards.forEach(function (card) { %>
                    <tr>
                        <td><%= card.cue %></td>
                        <td><%= card.show %></td>
                        <td><%= card.rep %></td>
                    </tr>

                <% }) %>
            </tbody>
        </table>


    </div>
</main>

</body>
</html>
