<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<main>
    <div class="container">
        <h1>Acceuil</h1>
        <div class="jumbotron">
            <h2>Welcome to timeline!</h2>
        </div>

    </div>
</main>

</body>
</html>
