<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TP3</title>
	</head>
	<body>
		<head>
			<%- include('/partials/head'); %>
		</head>
		<body class="container">
			<%- include('/partials/header'); %>
			<main>
				<div class="container pt-5">
					<h1>Vous êtes sur la page principale du serveur websockets</h1>
					<label for="message">Message:</label>
					<input type="text" name="message" id="message" />
					<button id="send">Send</button>
				</div>
			</main>
			<script src="./js/script.js"></script>
		</body>
	</body>
</html>
