body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.error {
  color: red;
}

.table {
  max-width: none;
  table-layout: fixed;
  word-wrap: break-word;
}

#tour {
    color:gray;
}

.card-jeu {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
}

.border-card{
    border: 5px solid blue!important;
    border-color: #007bff!important;
}
